<footer id="layout-footer">
    <div>
        <p>
            Bijay Kumar Yadav. All Rights Reserved
        </p>
    </div>
    <div>
        <nav class="fopter-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile"></a>
                </li>
            </ul>
        </nav>
    </div>
</footer>